
html,body { 
  font-family: 'Nunito Sans', sans-serif;
  margin:0px; 
  padding:0px 
}
nav {
  margin-top: 0px;
  padding: 24px;
  text-align: right;
  font-family: Raleway;
  
}
#nav-3 {
  padding-top: 60px;
  background: transparent;
}

.logo{
  color: white;
  float: left;
  font-size: 27px;
  text-decoration: none;
}
.link-3 {
  float: right;
  transition: 0.4s;
  color: #ffffff;
  font-size: 19px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.link-3:hover {
  background-color: #3693d6;
  color: #ffffff;
  padding: 24px 10px;
}
.link-33{
  padding: 20px 20px 20px 20px;
  color: #3693d6 ;
  text-decoration: none;
  float: right;
  background-color: #ffffff;
}
.link-33:hover {
  background-color: #3693d6;
  color: #ffffff;
  padding: 24px 10px;
}

span {
  color: #3693d6;
 }
 

header{
  background-repeat: no-repeat;
  margin:0;
  background-image: url('img/ines-JPEG.jpg');
  /*background-color: #3693d6;*/
  background-size: 100%;
  min-height: 500px;
}

img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h2{
 text-align: center;
}

.OurWork{
  color: #3693d6;
  margin-top:  0px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #ffffff;
}

.Testimonial{
  margin-top: 24px;
  padding-top: 15px;
  padding-bottom: 7px;
  color: #3693d6;
  background-color: #ffffff;
}

.testimonial1{
  padding: 15px;
  margin-bottom: 24px;
  color: #3693d6;
  text-align: center;
  }

  .NAMEofCarolyn{
    padding-bottom: 15px;
  }

  .LastParagraph{
    padding-bottom: 24px;
  }

.AboutMe{
      margin: 0px;
      padding-top: 9px;
      padding-bottom: 9px;
      color: white;
      background-color: #3693d6;
      text-align: center;
     }
     /* IMAGES GRID STYLE (STARS HERE) */

.container_center {
    border: 0px #ffffff;
    background-color: #ffffff;
    margin: auto;
    max-width: 800px;
    height: 700px;
    display: grid;
    grid-gap: 7px;
    grid-template-rows: 33% 34% 33%;
    grid-template-columns: 33% 34% 33%;
}

.item {
    background: #F3F3F3;
}

.one {
    background-image: url("img/lake.jpg");
    background-position: center;
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.two {
    background-image: url("img/wolf.jpg");
    background-position: center;
    background-size: 100%;
    grid-row: 1 / span 1;
    grid-column: 2/ span 2 ;
    }

.three {
  background-image: url("img/ski.jpg");
  background-position: center;
  grid-row: 2 /span 2;
  grid-column: 1/ span 2;
}

.four {
    background-image: url("img/hiker.jpg");
    background-position: center;
    background-size: 100%;
    grid-column: 3/ span 1;
    grid-row: 2 / span 1;
  }

.five {
   background-image: url("img/cross.jpg");
   background-position: center;
   grid-row: 3 / span 1;
   grid-column: 3 /span 1;
     }

     /* STYLES OF FOOTER (STARTS HERE)  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #3693d6;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 15px;
  line-height: 14px;
  padding: 20px 0px 5px 0px;
  color: #ffffff;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #ffffff;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {

  display: inline-block;
  padding-right: 5px !important;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  ...;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  ...;
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  ...;
}


     
     





